@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #292929;
}

.tab-pane {
  position: relative;
  min-height: 450px;
  padding-bottom: 40px;
}

.row-btn {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.err-type-photo {
  font-size: 12px;
  color: #ee5353;
}
